<!DOCTYPE html>
<html lang="en">
<head>
  {{>css}}
   
    {{!-- <link rel="stylesheet" href="css/style.css"/> --}}
</head>
<body>

   {{>navbar}}


    <!-- *********************** about section start ****************** -->

<div class="container-fluid sub_section pt-5 pb-5" id="aboutid">
	<div class="section_header text-center mb-5 mt-4">
		<h1 class="">About COVID-19</h1>
	</div>

	<div class="row pt-5">
		<div class="col-lg-5 col-md-6  col-6 ml-5">
			<!-- <div class="  "> -->
				<img src="image/aboutcorona.jpg" class="img-fluid">
			<!-- </div> -->
		</div>

		<div class="col-lg-6  col-md-6 col-6">
				<h2 class="pb-3">What is COVID-19 (Corona-Virus)</h2>
				<p>COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019.</p>
				<p>Coronaviruses are a large family of viruses which may cause illness in animals or humans.  In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19.
				</p>
			
		</div>
	</div>
</div>
   {{>footer}}


   

</body>
</html>