<!DOCTYPE html>
<html lang="en">
<head>
  {{>css}}
   
    {{!-- <link rel="stylesheet" href="css/style.css"/> --}}
</head>
<body>

   {{>navbar}}


    <div class="containter-fluid ">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">

            
            <div class="row">

                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure>
                        <img src="image/error.png" alt="sanket gaikwad" class="img-fluid" title="sanket gaikwad">
                    </figure>
                    
                <p> welcome to page</p>
             
                <H1> {{msg}}</H1>
                <a href="/"> <button class="btn"> Go Back</button></a>
              </div>
              
            </div>

          </div>
      </div>
   </div>
   {{>footer}}


   

</body>
</html>